.imageEdit{
	overflow: hidden;
	height: 355px;
	max-width: 100%;
	position: relative;
	border: 1px solid #e1e1e1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.imgDetail{
	position: absolute;
	left: 50%;
	top: 50%;
	
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: scale(1) translate(-50%, -50%);
	-ms-transform: scale(1) translate(-50%, -50%);
	transform: scale(1) translate(-50%, -50%);
	width: 650px;
}